<% include ./partials/header.ejs %>

<div class="w-full min-h-screen px-2 py-15 sm:px-25 sm:py-20">
      <div class=" flex flex-wrap gap-3 ">
            <% if (user.posts.length >= 0) { %> 
        <% user.savedPost.forEach(function(post){ %>
             <div class=" cardbox  relative w-80 h-100 mt-10 rounded-md">
                    <div class=" save w-full h-100 rounded-md overflow-hidden   hover:brightness-50">
                       <img class="w-full h-full object-cover  transition-all duration-300   " src="/images/uploads/<%= post.image %>">
                           <div class="absolute inset-0   flex items-center justify-center opacity-0 hover:opacity-[100] transition-opacity duration-300  ">
                             
                           <div>
                             <h1 class="text-7xl   text-[#FFFFFF] text-bold " >Open</h1>
                           </div>
                          </div>
                    </div>
                   
                    <a href="/show/posts/<%= post._id %> " class=" open mt-2 text-sm ml-2 capitalize"><%= post.title %>  <%= post.imageId %></a>
            </div>

      <% }) %>
           <% } else { %>
            <div class="w-full h-100 flex items-center justify-center  py-10">
                <h2 class="text-2xl text-gray-500">There are no posts which is you saved.</h2>
            </div>
        <% } %>
        
        

      </div>
</div>

<script>
    let cards= document.querySelectorAll(".save");
    cards.forEach(function(card) {
    card.addEventListener("click",function(){
        const parentCardbox = this.closest('.cardbox');
            const openLink = parentCardbox.querySelector(".open");
            if (openLink) {
                openLink.click();
            }
    });

     });
</script>
<% include ./partials/footer.ejs %>